[user]
  name = Yosuke Kabuto
  email = bluewhale1982@gmail.com
[core]
  editor = vim
	excludesfile = /home/ysksn/.gitignore
[web]
  browser = google-chrome
[color]
  ui = auto
[github]
  user = ysksn
[http]
  postBuffer = 100M
[url "git@github.com:"]
	insteadOf = https://github.com/
