[user]
  name = Yosuke Kabuto
  email = bluewhale1982@gmail.com
[core]
  editor = vim
	excludesfile = /Users/y-kabuto/.gitignore
[web]
  browser = google-chrome
[color]
  ui = auto
[github]
  user = ysksn
